
{% include 'base.html.twig'%}
<div class="container">
    <div class="d-flex justify-content-center"><img src="{{asset('/images/logoBitchestlight.png')}}" alt="" class="logo-primary-2"></div>
    <hr>
    <h3>Hi! {{user.firstname}} {{user.lastname}} Please confirm your email!</h3>
    <p> Welcome to Bitchest wallet, 
        your <strong>TempKey</strong> is : <h1><strong>{{randomPassword}}</strong></h1>.
        <hr>
        Please confirm your email address by clicking the following link: <br><br>
        <a class="a-primary" href="{{ signedUrl|raw }}">Confirm my Email</a>. Then login with TempKey.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        Cheers!
    </p>
</div>

