<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{{path('accueil')}}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{{asset('images/logoBitchestlight.png')}}" alt="" class="logo-primary-3">
      </span>
      <span class=" text-primary fw-bolder ms-2">BITCHEST</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <hr>
  <div class="menu-inner-shadow"></div>
    <ul class="menu-inner " style="padding-bottom: 105px;">
      <!-- Dashboard -->
      <li class="menu-item {{ app.current_route == 'accueil' ? 'active' : ''}}">
        <a href="{{path('accueil')}}" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-home"></i>
          <div>Dashboard</div>
        </a>
      </li>
      <li class="menu-item ">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack me-2 menu-icon" viewBox="0 0 16 16">
            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
          </svg>
          <div>Transactions</div>
        </a>
        <ul class="menu-sub">
          <!-- Send -->
          <li class="menu-item {{ app.current_route == 'transaction.send' ? 'active' : ''}}">
            <a href="{{path('transaction.send')}}" class="menu-link">
              <i class='me-2 bx bxs-up-arrow-circle'></i>
              <div>Send</div>
            </a>
          </li>
          <!-- Receive -->
          <li class="menu-item {{ app.current_route == 'transaction.receive' ? 'active' : ''}}">
            <a href="{{path('transaction.receive')}}" class="menu-link">
              <i class='bx bxs-down-arrow-circle me-2'></i>
              <div>Receive</div>
            </a>
          </li>
          {# trade #}
      
          {# buy #}
            <li class="menu-item {{ app.current_route == 'transaction.buy' ? 'active' : ''}}">
              <a href="{{path('transaction.buy')}}" class="menu-link ">
                <i class='bx bx-trending-up me-2'></i>
                <div>Buy</div>
              </a>
            </li>
            {# sell #}
            <li class="menu-item {{ app.current_route == 'transaction.sell' ? 'active' : ''}}">
              <a href="{{path('transaction.sell')}}" class="menu-link ">
                <i class='bx bx-trending-down me-2'></i>
                <div>Sell</div>
              </a>
            </li>
          <!-- History -->
          <li class="menu-item {{ app.current_route == 'transaction.historic' ? 'active' : ''}}">
            <a href="{{path('transaction.historic')}}" class="menu-link">
              <i class='me-2 bx bx-history' ></i>
              <div>History</div>
            </a>
          </li>
        </ul>
      </li>
      {# wallet #}
          <li class="menu-item {{ app.current_route == 'wallet' ? 'active' : ''}}">
            <a href="{{path('wallet')}}" class="menu-link">
              <i class='menu-icon me-2 bx bxs-wallet' ></i>
              <div>Wallet</div>
            </a>
          </li>
      {# settings #}
      <li class="menu-item {{ app.current_route starts with 'setting' ? 'active' : ''}}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bxs-cog me-2'></i>  
          <div>Settings</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">User</span>
          </li>
          <li class="menu-item {{ app.current_route == 'setting.profile' ? 'active' : ''}}">
            <a href="{{path('setting.profile',{id:app.user.id})}}" class="menu-link ">
              <i class='bx bx-id-card me-2'></i>
              <div>Profile</div>
            </a>
          </li>
          <li class="menu-item {{ app.current_route == 'setting.security' ? 'active' : ''}}">
            <a href="{{path('setting.security',{id:app.user.id})}}" class="menu-link ">
              <div class='d-flex gap-2 align-items-center'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                  <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                  <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
                </svg>
                <div>Security</div>
              </div>
            </a>
          </li>
          
          {% if app.user.roles[0] == 1 %}
          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Admin</span>
          </li>
          <li class="menu-item {{ app.current_route == 'setting.customer' ? 'active' : ''}}">
            <a href="{{path('setting.customer')}}" class="menu-link">
              <i class='me-2 bx bxs-edit'></i>
              <div>Customers</div>
            </a>
          </li>
          
          {% endif %}
        </ul>
      </li>
    </ul>
</aside>