<!-- Content -->
    <div class="col-md-12">
        {% include 'partials/flashes.html.twig'%}
        <div class="card mb-4">
        <h5 class="card-header">Profile Customer Details</h5>
        <!-- Account -->
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
                src="{{asset('/assets/img/avatars/1.png')}}"
                alt="user-avatar"
                class="d-block rounded"
                height="100"
                width="100"
                id="uploadedAvatar"
                style="object-fit: cover;"
            />
            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Upload new photo</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                <input
                    type="file"
                    id="upload"
                    class="account-file-input"
                    hidden
                    accept="image/png, image/jpeg"
                />
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                <i class="bx bx-reset d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Reset</span>
                </button>

                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            {{ form_start(formEditCustomer) }}
            <div class="row">
                <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                {{form_row(formEditCustomer.firstname)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                {{form_row(formEditCustomer.lastname)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Address</label>
                {{form_row(formEditCustomer.address)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Phone Number</label>
                {{form_row(formEditCustomer.telephone)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="zipCode" class="form-label">Zip Code</label>
                {{form_row(formEditCustomer.zipcode)}}
                </div>
                <div class="mb-3 col-md-6">
                <label class="form-label" for="country">Country</label>
                {{form_row(formEditCustomer.countryFrom)}}
                </div>
                <div class="mb-3 col-md-6">
                <label class="form-label" for="country">City</label>
                {{form_row(formEditCustomer.cityFrom)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="language" class="form-label">Language</label>
                {{ form_row(formEditCustomer.language) }}
                </div>
                <div class="mb-3 col-md-6">
                <label for="currency" class="form-label">Currency</label>
                {{ form_row(formEditCustomer.currency) }}
                </div>
            </div>
            <div class="d-flex mt-2">
                {{ form_row(formEditCustomer.save) }}
            </div>
            {{ form_end(formEditCustomer) }}
        </div>
        <!-- /Account -->
        </div>
    </div>
<!-- / Content -->