<div class="col-12">
<div class="card">
        <h5 class="card-header">Delete Crypto</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
            <div class="alert alert-warning">
                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete this crypto currency ?</h6>
            </div>
            </div>
            {{ form_start(formDeleteCrypto) }}
                {{ form_row(formDeleteCrypto.confirmation) }}
                <label class="form-check-label" for="accountActivation">I confirm crypto deactivation</label>
                <hr>
                <div class="d-flex gap-2">
                    {{ form_row(formDeleteCrypto.Delete) }}
                    <a href="{{path('setting.cryptocurrency')}}" class="btn btn-secondary">Annuler</a>
                </div>
            {{ form_end(formDeleteCrypto) }}
        </div>
        </div>
</div>