<!-- Content -->
    <div class="col-md-12">
        {% include 'partials/flashes.html.twig'%}
        <div class="card mb-4">
        <h5 class="card-header">Edit Customer Details</h5>
        <!-- Account -->
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
                src="{{asset('/assets/images/Cryptocurrency/')}}{{crypto.image}}"
                alt="crypto-avatar"
                class="d-block rounded"
                height="50"
                width="50"
                id="uploadedAvatar"
                style="object-fit: cover;"
            />
            {{ form_start(formEditCrypto) }}
                {{ form_row(formEditCrypto.imageFile) }}
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">Name</label>
                {{form_row(formEditCrypto.Name)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Current price</label>
                {{form_row(formEditCrypto.CurrentPrice)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Abreviation</label>
                {{form_row(formEditCrypto.Abreviation)}}
                </div>
                <div class="d-flex mt-2">
                    {{ form_row(formEditCrypto.save) }}
                    <a href="{{path('setting.cryptocurrency')}}" class="btn btn-secondary">Annuler</a>
                </div>
            {{ form_end(formEditCrypto) }}
        </div>
        <!-- /Account -->
        </div>
    </div>
<!-- / Content -->