<div class="col-xl-12">
  <div class="nav-align-top mb-4">
    <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
        <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-pills-top-Customer"
            aria-controls="navs-pills-top-Customer"
            aria-selected="true"
        >
            All
        </button>
        </li>
        <li class="nav-item">
        <a href="{{path('setting.addCrypto')}}">
           <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-pills-top-Add"
            aria-controls="navs-pills-top-Add"
            aria-selected="false">
            Add crypto
        </button>
        </a>
        </li>
    </ul>
    {# content of tabs #}
    <div class="tab-content">
        {# view of all customers #}
        <div class="tab-pane fade show active" id="navs-pills-top-Customer" role="tabpanel">
          <div class="table" style="overflow:auto;">
            <table class="table">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Abreviation</th>
                  <th>Current price</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for cryptocurrency in cryptocurrencies %}
                    <tr>
                     <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('setting.editCrypto',{id:cryptocurrency.id})}}"
                          ><i class="bx bx-edit-alt me-1"></i> Edit</a>
                            <a class="dropdown-item" href="{{path('setting.deleteCrypto',{id:cryptocurrency.id})}}">
                          <i class='me-2 bx bx-trash'></i>Delete
                        </a>
                      </div>
                    </div>
                  </td>
                  <td><img
                        src="{{asset('/assets/images/Cryptocurrency/')}}{{cryptocurrency.image}}"
                        alt="user-avatar"
                        class="d-block rounded"
                        height="50"
                        width="50"
                        id="uploadedAvatar"
                        style="object-fit: cover;"
                        />
                  </td>
                  <td><strong>{{cryptocurrency.name}}</strong></td>
                  <td>{{cryptocurrency.abreviation}}</td>
                  {# <td>{{cryptocurrency.currentPrice}}</td> #}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
