<div class="col-xl-12">
  <div class="nav-align-top mb-4">
    <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
        <a href="{{path('setting.customer')}}">
           <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-pills-top-Add"
            aria-controls="navs-pills-top-Add"
            aria-selected="false">
            Customer(s)
        </button>
        </a>
        </li>
        <li class="nav-item">

        <button
            type="button"
            class="nav-link {{ app.current_route == 'setting.addCustomer' ? 'active' : ''}}"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-pills-top-Add"
            aria-controls="navs-pills-top-Add"
            aria-selected="false"
        >
            Add customer
        </button>
        </li>
    </ul>
    {# content of tabs #}
    <div class="tab-content">
        <div class="tab-pane fade show" id="navs-pills-top-Customer" role="tabpanel">

        </div>
        {# formAddCustomer #}
        <div class="tab-pane fade show active" id="navs-pills-top-Add" role="tabpanel">
        <!-- Content -->
            <div class="col-md-12">
                {% include 'partials/flashes.html.twig'%}
                <div class="card mb-4">
                <h5 class="card-header">Add new customer</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img
                        src="{{asset('/assets/images/users/avatar.png')}}"
                        alt="user-avatar"
                        class="d-block rounded"
                        height="50"
                        width="50"
                        id="uploadedAvatar"
                        style="object-fit: cover;"
                    />
                    {{ form_start(formAddCustomer) }}
                    {{ form_row(formAddCustomer.thumbnailFile) }}
                    </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        {{form_row(formAddCustomer.firstname)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        {{form_row(formAddCustomer.lastname)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Email</label>
                        {{form_row(formAddCustomer.email)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Address</label>
                        {{form_row(formAddCustomer.address)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Phone Number</label>
                        {{form_row(formAddCustomer.telephone)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        {{form_row(formAddCustomer.zipcode)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label class="form-label" for="country">Country</label>
                        {{form_row(formAddCustomer.countryFrom)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label class="form-label" for="country">City</label>
                        {{form_row(formAddCustomer.cityFrom)}}
                        </div>
                        <div class="mb-3 col-md-6">
                        <label class="form-label" for="country">Role</label>
                        {{form_row(formAddCustomer.roles)}}
                        </div>
                         <div class="mb-3 col-md-6">
                        <label class="form-label" for="country">State</label>
                        {{form_row(formAddCustomer.state)}}
                        </div>
                    <div class="d-flex mt-2">
                        {{ form_row(formAddCustomer.save) }}
                        <a href="{{path('setting.customer')}}" class="btn btn-secondary">Annuler</a>
                    </div>
                    {{ form_end(formAddCustomer) }}
                </div>
                <!-- /Account -->
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<!-- / Content -->