<!-- Content -->
    <div class="col-md-12">
        {% include 'partials/flashes.html.twig'%}
        <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
                src="{{asset('/assets/images/users/')}}{{app.user.thumbnail}}"
                alt="user-avatar"
                class="d-block rounded"
                height="100"
                width="100"
                id="uploadedAvatar"
                style="object-fit: cover;"
            />
            {{ form_start(form) }}
            {{ form_row(form.thumbnailFile) }}
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                {{form_row(form.firstname)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                {{form_row(form.lastname)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Address</label>
                {{form_row(form.address)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Phone Number</label>
                {{form_row(form.telephone)}}
                </div>
                <div class="mb-3 col-md-6">
                <label for="zipCode" class="form-label">Zip Code</label>
                {{form_row(form.zipcode)}}
                </div>
                <div class="mb-3 col-md-6">
                <label class="form-label" for="country">Country</label>
                {{form_row(form.countryFrom)}}
                </div>
                <div class="mb-3 col-md-6">
                <label class="form-label" for="country">City</label>
                {{form_row(form.cityFrom)}}
                {# {{form_row(form.roles)}} #}
                {# {{form_row(form.state)}} #}
                {# {{form_row(form.email)}} #}
                </div>
                <div class="mb-3 col-md-6">
            </div>
            <div class="d-flex mt-2">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /Account -->
        </div>
    </div>
<!-- / Content -->